certifi==2017.7.27.1
chardet==3.0.4
cycler==0.10.0
Cython==0.25.2
fbprophet==0.1.1
functools32==3.2.3.post2
idna==2.5
matplotlib==2.0.2
numpy==1.21.0
pandas==0.20.3
progressbar2==3.30.2
psycopg2==2.7.3.1
pyparsing==2.2.0
pystan==2.16.0.0
python-dateutil==2.6.1
python-utils==2.1.0
pytz==2017.2
requests==2.20.0
scikit-learn==0.19.0
scipy==0.19.1
six==1.10.0
SQLAlchemy==1.1.13
subprocess32==3.2.7
urllib3==1.24.2
xgboost==0.6
